.about-container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.about-content {
    width: 90%;
    display: flex;
    justify-content:flex-end;
    margin: 20px auto;
    background: linear-gradient(to bottom, #FFD4D2, #FF6E79);
    border-radius: 10px;
    padding: 20px;
    flex-direction: column;
}

.about-text {
    flex: 1; 
    padding-right: 30px;
    text-align: justify;
}

.about-text h1 {
    color: #462E4C;
    font-size: 30px;
    text-align: left;
    font-family: 'P2', sans-serif;
}

.text-section-l h2 {
    color: #462E4C;
    font-size: 20px;
    text-align: left;
    font-family: 'P2', sans-serif;
}

.text-section-ld h2 {
    color: #462E4C;
    font-size: 20px;
    text-align: left;
    font-family: 'P2', sans-serif;
}

.text-section-r h2 {
    color: #462E4C;
    font-size: 20px;
    text-align: left;
    font-family: 'P2', sans-serif;
}

.text-section-rd h2 {
    color: #462E4C;
    font-size: 20px;
    text-align: left;
    font-family: 'P2', sans-serif;
}

.about-text p {
    color: #462E4C;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.about-section {
    flex-direction: row;
    display: flex;
    align-items: flex-start;
    margin-bottom: 40px;
}

.image-section {
    display: flex;
    justify-content: center;
}

.text-section-l {
    padding-left: 20px;
    box-shadow: 4px 4px 7px rgba(255, 110, 121, 0.3);
}

.text-section-ld {
    padding-left: 20px;
    box-shadow: 4px 4px 7px rgba(70, 46, 76, 0.3);
}

.text-section-r {
    padding-left: 20px;
    box-shadow: -4px 4px 7px rgba(255, 110, 121, 0.5);
}

.text-section-rd {
    padding-left: 20px;
    box-shadow: -4px 4px 7px rgba(70, 46, 76, 0.5);
}

.text-section h2 {
    color: #462E4C;
    font-size: 23px;
    font-family: 'P2', sans-serif;
}

.profile-image {
    width: 100%;
    max-width: 300px;
    height: auto;
    border-radius: 50%;
}

.about-section.reverse {
    flex-direction: row-reverse;
}

.reverse .text-section {
    padding-left: 0;
    padding-right: 20px;
}

.image-section,
.text-section, 
.text-section-l,
.text-section-r,
.text-section-rd,
.text-section-ld {
    flex: 1; 
    max-width: 400px;
}
