.about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content {
    width: 90%;
    background-color: #FFD4D2;
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px auto;
}

.about-text {
    flex: 1; 
    padding-right: 20px;
    text-align: justify;
}

.about h1 {
    color: #462E4C;
    font-size: 35px;
    font-family: 'P2', sans-serif;
}

.about p {
    color: #462E4C;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.about-section {
    display: flex;
    align-items: flex-start;
    margin-bottom: 40px;
}

.image-section {
    display: flex;
    justify-content: center;
}

.text-section {
    padding-left: 20px;
    
}

.about h2 {
    color: #462E4C;
    font-size: 28px;
    font-family: 'P2', sans-serif;
}

.profile-image {
    width: 100%;
    max-width: 300px;
    height: auto;
}

.about-section.reverse {
    flex-direction: row-reverse;
}

.reverse .text-section {
    padding-left: 0;
    padding-right: 20px;
}

.image-section,
.text-section {
    flex: 1; 
    max-width: 400px;
}
