.catalog {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.catalog-content {
    width: 90%;
    min-height: 100vh;
    display: flex; 
    margin: 20px auto;
    background: linear-gradient(to bottom, #FFD4D2, #FF6E79);
    border-radius: 10px;
    padding: 20px;
    flex-wrap: wrap;
    gap: 33.33px;
    font-family: 'P2', sans-serif;
}

.catalog h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #462E4C;
}

.course-card {
    background-color: transparent;
    border-radius: 8px;
    width: calc(33% - 20px);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 1px;
}

.course-card:hover {
    transform: scale(1.05);
}

.course-card h2{
    color: #462E4C;
    font-family: 'P2', sans-serif;
}

.course-image {
    max-width: 300px;
    width: 100%;
    height: auto;
    border-radius: 15px 15px 0px 0px;  
}

.course-button {
    background-color: #FFD4D2;
    color: #462E4C;
    border: none;
    padding: 15px;
    cursor: pointer;
    transition: background-color 0.3s;
    max-width: 300px;
    width: 100%;
    border-radius: 0px 0px 15px 15px;  
    box-shadow: 0 5px 5px rgba(70, 46, 76, 0.5);
    font-weight: bold;
}

.course-button:hover {
    color: #462E4C;
    box-shadow: 0 5px 5px rgba(255, 110, 121, 0.5);
}
