.footer {
    background-color: #FF6E79;
    padding: 10px 20px;
    align-items: center;
    color: #462E4C;
    font-weight: bold;
    text-align: center;
    justify-content: space-between;
    width: 100%;
    display: flex;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-links {
    margin-top: 10px;
}

.footer-links a {
    color: #462E4C;
    text-decoration: none;
    margin: 0 15px;
}

.footer-links a:hover {
    color: #FF6E79;
    text-decoration: underline;
}
