.home-container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.home-content {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px auto;
    background: linear-gradient(to bottom, #FFD4D2, #FF6E79);
    border-radius: 10px;
    padding: 20px;
}

.home-text-section {
    flex: 1;
    padding-right: 30px;
}

.home-text-section h1 {
    color: #462E4C;
    font-family: 'P2', sans-serif;
}

.home-text-section p {
    color: #462E4C;
    font-size: 20px;
    text-align: justify;
}

.home-image-section {
    flex: 0 0 auto;
}

.home-profile-image {
    width: 100%;
    max-width: 500px;
    height: auto;
}

.home-button {
    display: inline-block;
    padding-bottom: 10px;
    margin-top: 20px;
    background-color: transparent;
    color: #462E4C;
    border: none;
    text-decoration: none;
    transition: background-color 0.3s;
    font-family: 'P2', sans-serif;
}

.home-button:hover {
    color: #FF6E79;
    box-shadow: 0px -6px 0 #FF6E79 inset;
}