@font-face {
    font-family: 'Montserrat';
    src: url('./fonts/Montserrat-Medium.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('./fonts/Montserrat-SemiBold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

:root {
    --white: #FFFFFF;
    --dark-cyan: #0D8989;
    --light-cyan: #6ACCCC;
}

.navbar {
    background-color: var(--white);
    padding: 0px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
    font-family: 'Montserrat', sans-serif;
}

.app-container {
    display: flex;
    align-items: center;
    gap: 15px;
    text-decoration: none;
}

.logo {
    width: 300px;
    height: 110px;
}

.project-title {
    font-size: 22px;
    color: var(--dark-cyan);
    line-height: 1.2;
    font-weight: 700;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 15px;
    margin: 0;
    padding: 0;
}

.btn {
    background-color: transparent;
    border: 2px solid var(--light-cyan);
    color: var(--dark-cyan);
    padding: 8px 14px;
    border-radius: 6px;
    font-weight: 600;
    text-decoration: none;
    transition: all 0.3s ease;
    font-size: 14px;
}

.btn:hover {
    background-color: var(--light-cyan);
    color: var(--white);
}

.auth-buttons {
    display: flex;
    align-items: center;
    gap: 10px;
}

.auth-button {
    background-color: var(--dark-cyan);
    color: var(--white);
    padding: 8px 14px;
    border-radius: 6px;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    transition: all 0.3s ease;
}

.auth-button:hover {
    background-color: var(--light-cyan);
    color: var(--dark-cyan);
}

.profile-dropdown {
    display: flex;
    align-items: center;
}

.profile-avatar {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    border: 2px solid var(--light-cyan);
    object-fit: cover;
}

.logo-title-wrapper {
    display: flex;
    align-items: center;
    gap: 15px;
}