body {
    font-family: 'Arial', sans-serif;
    background-color: #E1E6EF;
}

form {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background: white;
    border: 1px solid #ddd;
    border-radius: 10px;
}

input,
button {
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    background: #007bff;
    color: white;
    cursor: pointer;
}

button:hover {
    background: #5357A6;
}
